*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f172a;
    color:white;
    font-family:Arial, sans-serif;
}

.navbar{
    position:sticky;
    top:0;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

    background:rgba(255,255,255,0.05);

    backdrop-filter:blur(15px);

    border-bottom:1px solid rgba(255,255,255,0.1);

    z-index:1000;
}

.logo{
    font-size:1.5rem;
    font-weight:700;
    color:white;
}

.sparkle{
    margin-left:6px;
}

.nav-links{
    display:flex;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:#cbd5e1;
    transition:0.3s;
}

.nav-links a:hover{
    color:#8b5cf6;
}

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:20px;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
    }

}
